{% extends "base.html" %}
{% block content %}
<body class="bg-gray-100 h-screen">
  <h1>Регистрация</h1>
  <form method="post",action="register">
    <div class="container">
      <label for="username">Имя пользователя:</label>
      <input type="text" id="username" name="username" required>
      <label for="password">Пароль</label>
      <input type="password" id="password" name="password" required>
    </div>
    <button type="submit">Register</button>
    <div>
      {{error}}
    </div>
  </form>
  </body>
{% endblock %}